<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tkw.kr.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTestApp"
        android:usesCleartextTraffic="true"
        android:name=".MainApplication">
        <activity android:name=".component.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".component.map.GoogleMapActivity"
            android:exported="false"/>

        <activity android:name=".component.github.GithubActivity"
            android:exported="false"/>

        <activity android:name=".component.covid.CovidActivity"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_APP_KEY}"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${NAVER_MAPS_APP_KEY}"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_MAPS_APP_KEY}"/>
    </application>

</manifest>